* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-submit{
  background-color: rgb(95, 87, 75) !important;
  color: white;
}
.btn-submit:hover{
  background-color: rgb(58, 52, 44) !important; 
}

.btn-Add{
  background-color: black;
  color: rgb(242, 234, 234);
}


.btn-edit{

  background-color: rgb(227, 212, 212);
  color: rgb(46, 41, 41);
}
.btn-edit:hover{
  background-color: rgb(245, 245, 245);
  color: rgb(27, 27, 27);
}

.btn-delet{
  background-color: rgb(195, 54, 54);
  color: rgb(255, 255, 255);

}
.btn-delet:hover{
  background-color: rgb(222, 37, 37);
  color: rgb(238, 231, 231);
}

.btn-show{
  background-color: rgb(245, 244, 240);
  color: rgb(24, 23, 23);
}




.custom-control-input:checked ~ .custom-control-label::before {
  border-color: #007bff; 
}


.custom-control-input:not(:checked) ~ .custom-control-label::before {
  border-color: #ced4da; 
}


.form-control {
  border-color: #ced4da; 
}


.form-control:focus {
  border-color: #80bdff;
  box-shadow: none; 
}



.form-select {
  border-color: #f4f9f6 !important;
}

.pagination {
  width: 100%;
  display: flex;
  justify-content: center;
}

.userTR th {
  font-size: 20px;
  color: #f64668;
}

.userTR td {
  font-size: 20px;
}

.Details {
  color: #f64668;
}

.active > .page-link,
.page-link.active {
  z-index: 3;
  color: var(rgb(41, 39, 44));
  background-color: rgb(82, 77, 90);
  border-color: var(--bs-pagination-active-border-color);
}

@media (max-width: 760px) {
  .userTR th {
    font-size: 20px;
    color: #e5777781;
  }

  .userTR td {
    font-size: 15px;
  }
}

.width-100 {
  width: 100%;
  margin-right: 0px;
}

.user-card-full {
  overflow: hidden;
}

.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  border: none;
  margin-bottom: 30px;
}

.m-r-0 {
  margin-right: 0px;
}

.m-l-0 {
  margin-left: 0px;
}

.user-card-full .user-profile {
  border-radius: 5px 0 0 5px;
}

.bg-c-lite-green {
  background-color: rgb(19, 19, 22);
 

}
.custom-width {
  width: 600px;
}
.user-profile {
  padding: 20px 0;
}

.card-block {
  padding: 1.25rem;
}

.m-b-25 {
  margin-bottom: 25px;
}

.img-radius {
  border-radius: 5px;
}

h6 {
  font-size: 14px;
}

.card .card-block p {
  line-height: 25px;
}

@media only screen and (min-width: 1400px) {
  p {
    font-size: 14px;
  }
}

.card-block {
  padding: 1.25rem;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.m-b-20 {
  margin-bottom: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.card .card-block p {
  line-height: 25px;
}

.m-b-10 {
  margin-bottom: 10px;
}

.text-muted {
  color: #919aa3 !important;
}

.b-b-default {
  border-bottom: 1px solid #e0e0e0;
}

.f-w-600 {
  font-weight: 600;
}

.m-b-20 {
  margin-bottom: 20px;
}

.m-t-40 {
  margin-top: 20px;
}

.p-b-5 {
  padding-bottom: 5px !important;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-t-40 {
  margin-top: 20px;
}

.page-link {
  color: black !important;
}




